/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so LESS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name: yourfuckingpollingplace.com
Author: Jay Johnson

Stylesheet: Mixins & Constants Stylesheet


******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: -999em;
  white-space: nowrap;
  overflow: hidden;
}
.js .toggle-container {
  display: none;
  position: relative;
  z-index: 999;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoItalic';
  src: url('../fonts/Roboto-Italic-webfont.eot');
  src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Italic-webfont.woff') format('woff'), url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'), url('../fonts/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold-webfont.woff') format('woff'), url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldItalic';
  src: url('../fonts/Roboto-BoldItalic-webfont.eot');
  src: url('../fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-BoldItalic-webfont.woff') format('woff'), url('../fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/Roboto-Condensed-webfont.eot');
  src: url('../fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Condensed-webfont.woff') format('woff'), url('../fonts/Roboto-Condensed-webfont.ttf') format('truetype'), url('../fonts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedItalic';
  src: url('../fonts/Roboto-CondensedItalic-webfont.eot');
  src: url('../fonts/Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-CondensedItalic-webfont.woff') format('woff'), url('../fonts/Roboto-CondensedItalic-webfont.ttf') format('truetype'), url('../fonts/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensed';
  src: url('../fonts/Roboto-BoldCondensed-webfont.eot');
  src: url('../fonts/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-BoldCondensed-webfont.woff') format('woff'), url('../fonts/Roboto-BoldCondensed-webfont.ttf') format('truetype'), url('../fonts/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensedItalic';
  src: url('../fonts/Roboto-BoldCondensedItalic-webfont.eot');
  src: url('../fonts/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-BoldCondensedItalic-webfont.woff') format('woff'), url('../fonts/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'), url('../fonts/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CodeProDemoRegular';
  src: url('../fonts/Code_Pro_Demo-webfont.eot');
  src: url('../fonts/Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Code_Pro_Demo-webfont.woff') format('woff'), url('../fonts/Code_Pro_Demo-webfont.ttf') format('truetype'), url('../fonts/Code_Pro_Demo-webfont.svg#CodeProDemoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CodeProLightDemoRegular';
  src: url('../fonts/Code_Pro_Light_Demo-webfont.eot');
  src: url('../fonts/Code_Pro_Light_Demo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Code_Pro_Light_Demo-webfont.woff') format('woff'), url('../fonts/Code_Pro_Light_Demo-webfont.ttf') format('truetype'), url('../fonts/Code_Pro_Light_Demo-webfont.svg#CodeProLightDemoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.svg#icomoon') format('svg'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  position: absolute;
}
.icon-location:before {
  content: "\23";
}
.icon-search:before {
  content: "\28";
}
.icon-arrow-down:before {
  content: "\21";
}
.icon-facebook:before {
  content: "\22";
}
.icon-twitter:before {
  content: "\24";
}
.icon-user:before {
  content: "\25";
}
.icon-twitter-2:before {
  content: "\26";
}
.icon-google-plus:before {
  content: "\27";
}
.icon-google-plus-2:before {
  content: "\29";
}
.icon-facebook-2:before {
  content: "\2a";
}
.icon-facebook-3:before {
  content: "\2b";
}
.icon-twitter-3:before {
  content: "\2c";
}
.icon-gplus:before {
  content: "\2d";
}
.icon-globe:before {
  content: "\2e";
}
.icon-carat-right:before {
  content: "\2f";
}
.icon-carat-down:before {
  content: "\30";
}
.icon-youtube:before {
  content: "\31";
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,#444); */
/* .boxShadowInset(0,0,4px,#444); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #9e131f;
  border-top-color: #b91624;
  border-left-color: #b91624;
  padding: 4px 12px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #9e131f;
  border-top-color: #7e0f18;
  border-left-color: #7e0f18;
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
  -o-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  -moz-animation-name: fadeInRightBig;
  -o-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}
/******************************************************************
Site Name: yourfuckingpollingplace.com
Author: Jay Johnson

Stylesheet: 481px and Up Stylesheet


******************************************************************/
/*********************
FORM STYLES
*********************/
.address-form,
.restart {
  width: 430px;
}
input {
  font-size: 1em;
}
/* import grid */
/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
.onecol {
  width: 5.801104972%;
}
/* 4.85%;  } /* grid_1  */
.twocol {
  width: 14.364640883%;
}
/* 13.45%; } /* grid_2  */
.threecol {
  width: 22.928176794%;
}
/* 22.05%; } /* grid_3  */
.fourcol {
  width: 31.491712705%;
}
/* 30.75%; } /* grid_4  */
.fivecol {
  width: 40.055248616%;
}
/* 39.45%; } /* grid_5  */
.sixcol {
  width: 48.618784527%;
}
/* 48%;    } /* grid_6  */
.sevencol {
  width: 57.182320438000005%;
}
/* 56.75%; } /* grid_7  */
.eightcol {
  width: 65.74585634900001%;
}
/* 65.4%;  } /* grid_8  */
.ninecol {
  width: 74.30939226%;
}
/* 74.05%; } /* grid_9  */
.tencol {
  width: 82.87292817100001%;
}
/* 82.7%;  } /* grid_10 */
.elevencol {
  width: 91.436464082%;
}
/* 91.35%; } /* grid_11 */
.twelvecol {
  width: 99.999999993%;
}
/* 100%;   } /* grid_12 */
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}
.first {
  margin-left: 0;
}
.last {
  float: right;
}
/******************************************************************
Site Name: yourfuckingpollingplace.com
Author: Jay Johnson

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
h1 .where {
  font-size: 2.35em;
  line-height: .8em;
}
h1 .fucking {
  font-size: 3em;
  line-height: .8em;
}
h1 .poll {
  font-size: 1.7em;
  line-height: .8em;
}
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  max-width: 1140px;
}
/*********************
FORM SYTLES
*********************/
.address-form,
.restart {
  width: 530px;
}
.desktop-addrfield {
  display: block;
}
.mobile-addrfield {
  display: none;
}
/*********************
FOOTER STYLES
*********************/
.attribution {
  width: 530px;
}
.attribution h4 {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 5px;
}
.attribution li {
  display: inline-block;
}
/******************************************************************
Site Name: yourfuckingpollingplace.com
Author: Jay Johnson

Stylesheet: Desktop Stylsheet

******************************************************************/
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
