/* ---------------------------------------------------------------------
card
------------------------------------------------------------------------ */

.card {
    position: relative; // creates positioning context for absolutely positioned flag
	background-color: lighten($GREY, 12);
	border: solid 2px $RED;
	border-radius: 6px;
}

.card_secondary {
	border-color: $BLUE;
}

.card_error {
    background-color: $RED;
    color: $WHITE;
}

.card-flag {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px;
    background-color: $BLUE;
    font-family: $FONT_HEADLINE;
    font-size: 12px;
    color: $WHITE;
    letter-spacing: 1px;
}

.card-bd {
    line-height: 26px;
	padding: 12px;

}

.card-ft {
	text-align: center
}

@media screen and (min-width: 568px) {

    .card-bd {
        padding: 36px;
    }
}