// Global Vars

// ----------------------------------------------------------------------------
// Font
// ----------------------------------------------------------------------------
$FONT_DEFAULT: 'Lato', sanserif;
$FONT_HEADLINE: 'Liberator', sanserif;
$FONT_ICON: 'yfpp-icons';
$FONT_SIZE_DEFAULT: 16px;
$FONT_SIZE_MOBILE: 13px;

// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

$COLOR_TEXT_DEFAULT: #4b4b4b;
$COLOR_LINK_DEFAULT: #000000;
$COLOR_TEXT_LIGHT: #ffffff;

$WHITE: #ebeae9;
$GREY_LIGHT: #cac9c9;
$GREY_MEDIUM: #bbbbbb;
$GREY: #b1ada8;
$GREY_DARK: #3f3d3c;
$RED: #bf1c21;
$PLUM: #463648;

$COLOR_PRIMARY: $PLUM;
$COLOR_SECONDARY: $RED;

// ----------------------------------------------------------------------------
// Heading sizes
// ----------------------------------------------------------------------------

$HDG_SIZE: 36px;
$HDG_SIZE: 24px;
$HDG_SIZE: 22px;
$HDG_SIZE: 20px;
$HDG_SIZE: 18px;
$HDG_SIZE: 14px;

// ----------------------------------------------------------------------------
// Global Width
// ----------------------------------------------------------------------------

$GLOBAL_WIDTH: 960px;
