// Global Vars

// ----------------------------------------------------------------------------
// Font
// ----------------------------------------------------------------------------
$FONT_DEFAULT: 'Lato', sanserif;
$FONT_HEADLINE: 'Liberator', sanserif;
$FONT_ICON: 'yfpp-icons';
$FONT_SIZE_DEFAULT: 16px;

// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

$COLOR_TEXT_DEFAULT: #4b4b4b;
$COLOR_LINK_DEFAULT: #000000;
$COLOR_TEXT_LIGHT: #ffffff;

$WHITE: #f1eeea;
$GREY_LIGHT: #e4e1dd;
$GREY_MEDIUM: #bbbbbb;
$GREY: #b1ada8;
$GREY_DARK: #3f3d3c;
$RED: #7d2929;
$BLUE: #2b3975;
$BLUE_LIGHT: #AED3E1;

$COLOR_PRIMARY: $BLUE;
$COLOR_SECONDARY: $RED;

// ----------------------------------------------------------------------------
// Dimensions
// ----------------------------------------------------------------------------

$GLOBAL_WIDTH: 960px;

// ----------------------------------------------------------------------------
// Heading sizes
// ----------------------------------------------------------------------------

$HDG_SIZE: 36px;
$HDG_SIZE: 24px;
$HDG_SIZE: 22px;
$HDG_SIZE: 20px;
$HDG_SIZE: 18px;
$HDG_SIZE: 14px;


// ----------------------------------------------------------------------------
// Global Width
// ----------------------------------------------------------------------------

$GLOBAL_WIDTH: 960px;