// Global Vars

// ----------------------------------------------------------------------------
// Font
// ----------------------------------------------------------------------------
$FONT_DEFAULT: sanserif;
$FONT_SIZE_DEFAULT: 14px;


// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

//Core Colors
$COLOR_TEXT_DEFAULT: #4b4b4b;
$COLOR_LINK_DEFAULT: #000000;
$COLOR_TEXT_LIGHT: #ffffff;
$COLOR_PRIMARY: #ebebeb;
$COLOR_SECONDARY: #ebebeb;

// ----------------------------------------------------------------------------
// Dimensions
// ----------------------------------------------------------------------------

$GLOBAL_WIDTH: 960px;

// ----------------------------------------------------------------------------
// Heading sizes
// ----------------------------------------------------------------------------

$HDG_SIZE: 36px;
$HDG_SIZE: 24px;
$HDG_SIZE: 22px;
$HDG_SIZE: 20px;
$HDG_SIZE: 18px;
$HDG_SIZE: 14px;


// ----------------------------------------------------------------------------
// Global Width
// ----------------------------------------------------------------------------

$GLOBAL_WIDTH: 960px;