// ----------------------------------------------------------------------------
// Utility Classes:
// ----------------------------------------------------------------------------
// Hide an element in the DOM while maintaining accessibility for screen readers.

@mixin isHidden {
    display: none !important;
};

@mixin isVisuallyHidden {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    clip: rect(1px 1px 1px 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    overflow: hidden !important;
};

.isHidden {
    @include isHidden();
}

.isVisuallyHidden {
    @include isVisuallyHidden();
}

// Micro clearfix. No support below IE8 because of display: table;
// Courtesy of: Nicholas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

