/* ---------------------------------------------------------------------
text
------------------------------------------------------------------------ */

.txt {
    font-family: $FONT_DEFAULT;
}

.txt_headline {
    font-family: $FONT_HEADLINE;
}
.txtCenter {
	text-align: center;
}

/* text variations */

.mix-txt_medium {
	font-size: 0.875em;
}

.mix-txt_capitalize {
    text-transform: capitalize;
}

.mix-txt_centered {
	text-align: center;
}

.mix-txt_greyLgt {
	color: $GREY_LIGHT;
}

.mix-txt_grey {
    color: $GREY;
}

.mix-txt_blue {
    color: $BLUE;
}

.mix-txt_lgtBlue {
    color: $BLUE_LIGHT;
}

.mix-txt_medium_p {
	line-height: 1.3em;
	margin-bottom: 1.4em;
}