/* ---------------------------------------------------------------------
Tabs
------------------------------------------------------------------------ */

.tabs-nav {
	display: block;
	text-align: center;
	margin-bottom: 40px;
}

.tabs-nav > * {
	display: inline-block;
	overflow: hidden;
	width: 50%;
}

.tabs-nav-item-btn {
	position: relative; // creates positioning context for absolutely positioned pseudo element
	display: block;
	width: 100%;
	background-color: $GREY;
	border: none;
	color: $GREY_LIGHT;
	padding: 16px;
	font-size: 20px;
	font-family: $FONT_HEADLINE;
	letter-spacing: 1.5px;
	line-height: 1.1;

}
.tabs-nav-item:first-of-type .isActive.tabs-nav-item-btn {
	background-color: $RED;
}

.isActive.tabs-nav-item-btn {
	background-color: $BLUE;
}

.tabs-nav-item:first-of-type .tabs-nav-item-btn:before {
	position: absolute;
	display: block;
	font-family: $FONT_ICON;
	@include icon_banner_notch();
	font-size: 2.5em;
	color: $GREY_LIGHT;
	text-indent: 0;
	top: -1px;
	left: -.295em;
}

.tabs-nav-item:last-of-type .tabs-nav-item-btn:after {
	position: absolute;
	display: block;
	font-family: $FONT_ICON;
	@include icon_banner_notch();
	font-size: 2.5em;
	color: $GREY_LIGHT;
	text-indent: 0;
	top: -1px;
	right: -.295em;
}

.tabs-panel {
	transition: all .15s ease-in-out;
	padding: 0 32px;
}

// animate in
.tabs-panel.fade-enter {
	opacity: 0;
	transform: translateY(-25px);
}

.tabs-panel.fade-enter-active {
	opacity: 1;
	transform: translateY(0);
}

// animate out
.tabs-panel.fade-leave {
	opacity: 0;
	transform: translateY(25px);
}

.tabs-panel.fade-enter-active {
	opacity: 1;
	transform: translateY(0);
}

@media screen and (max-width: 568px) {
	.tabs-nav-item-btn {
		font-size: 14px;
		padding: 12px;
		letter-spacing: .5px;
	}
}


