/* ---------------------------------------------------------------------
group
------------------------------------------------------------------------ */

.group {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.group > * + * {
    margin-top: 22px;
}

.group_sm > * + * {
    margin-top: 5px;
}

.group_md > * + * {
    margin-top: 12px;
}

/* group variations */
.mix-group_narrow {
    max-width: 500px;
}

.mix-group_wide {
    max-width: 650px;
}

.mix-group_txtCtr {
    text-align: center;
}

.mix-group_absolute {
    position: absolute;
    z-index: 3;
}
