# Google Civic Information API
VITE_API_KEY=
VITE_API_URL=https://www.googleapis.com/civicinfo/v2

# Mapbox
VITE_MAPBOX_API_ACCESS_TOKEN=

# Open States API
VITE_OPENSTATES_API_KEY=

# Development: point to static test data files instead of live APIs
# VITE_API_DEV_VOTER_INFO_URL=test_data/test_data.json
# VITE_API_DEV_REPRESENTATIVES_URL=test_data/test_data_representatives.json
