BeautifulSoup==3.2.1
Django==1.4.2
South==0.7.6
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.18
celery==3.0.12
cssutils==0.9.10b1
django-celery==3.0.11
django-crispy-forms==1.2.0
django-indexer==0.3.0
django-paging==0.2.4
django-picklefield==0.2.1
django-social-auth==0.7.8
django-social-auth-trello==1.0.2
django-templatetag-sugar==0.1
geopy==0.94.2
gondor==1.2
gunicorn==0.14.6
httpagentparser==1.1.3
httplib2==0.7.6
kombu==2.4.8
logan==0.5.1
oauth2==1.5.211
psycopg2==2.4.5
pycrypto==2.6
pynliner==0.4.0
python-dateutil==1.5
python-openid==2.2.5
pytz==2012f
raven==2.0.9
requests==0.14.2
sentry==5.0.20.1
simplejson==2.6.2
wsgiref==0.1.2
