/* ---------------------------------------------------------------------
carousel
------------------------------------------------------------------------ */

.carousel {
    position: relative;
    padding: 0 30px;
}

.carousel-inner {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-inner-slides {
    display: block;
    position: relative;
    left: 0;
    font-size: 0; // removes whitespace for inline-block child elements
    white-space: nowrap; // keeps slides from wrapping to next line
    transform: translate3d(0, 0, 0);
    transition: transform 0.25s linear;
}

.carousel-inner-slides-slide {
    opacity: 0;
    width: 100%;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    font-size: $FONT_SIZE_DEFAULT;
    white-space: normal;
    transition: all 1s ease-in-out;
}

.isActive.carousel-inner-slides-slide {
    opacity: 1;
}

.carousel-directionNav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.carsousel-directionNav-item {
    position: absolute;
    display: block;
    background: none;
    border: none;
    color: $COLOR_PRIMARY;
    overflow: hidden;
    font-size: 0;
    text-indent: -999em;
    transform: translateY(-50%);

    &:before {
        display: block;
        font-family: $FONT_ICON;
        text-indent: 0;
        font-size: 18px;
        padding: 10px;
    }

    &:hover,
    &:focus {
        color: $WHITE;
    }
}

.carsousel-directionNav-item_prev {
    top: 50%;
    left: 0;

    &:before {
        content: '\e902';
    }
}

.carsousel-directionNav-item_next {
    top: 50%;
    right: 0;

    &:before {
        content: '\e903';
    }
}

@media screen and (min-width: 768px) {
    .carousel {
        padding: 0 50px;
    }

    .carousel-directionNav {
        margin-top: -20px;
    }

    .carsousel-directionNav-item_prev {
        left: 20px;
    }

    .carsousel-directionNav-item_next {
        right: 20px;
    }

    .carsousel-directionNav-item:before {
        font-size: 20px;
    }
}
