/* ---------------------------------------------------------------------
carousel
------------------------------------------------------------------------ */

.carousel {
    position: relative;
    padding: 0 10px;
    @include clearfix;
}

.carousel-inner {
    position: relative;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-inner-slides {
    display: block;
    position: relative;
    left: 0;
    transform: translate3d(0,0,0);
    @include clearfix;
}

// adds transitions only when modal is active to resolve display issue
.modal.isActive .carousel-inner-slides {
    //transition: transform .25s linear;
}

.carousel-inner-slides-slide {
    opacity: 0;
    width: 100%;
    padding: 0 20px;
    float: left;
    transition: all 1s ease-in-out;
}

.isActive.carousel-inner-slides-slide {
    opacity: 1;
}

.carousel-directionNav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -10px;    
}

.carsousel-directionNav-item {
    position: absolute;
    display: block;
    background: none;
    border: none;
    color: $BLUE_LIGHT;
    overflow: hidden;
    font-size: 0;
    text-indent: -999em;

    &:before {
        display: block;
        font-family: $FONT_ICON;
        text-indent: 0;
        font-size: 10px;
    }

    &:hover,
    &:focus {
        color: $WHITE;
    }
}

.carsousel-directionNav-item_prev {
    top: 50%;
    left: 0;

    &:before {
        content: "\e902";
    }   
}

.carsousel-directionNav-item_next {
    top: 50%;
    right: 0;
    
    &:before {
        content: "\e903";    
    }
}


@media screen and (min-width: 768px) {

    .carousel {
        padding: 0 50px;
    }

    .carousel-directionNav {
        margin-top: -20px;
    }
    
    .carsousel-directionNav-item_prev {
        left: 20px;
    }

    .carsousel-directionNav-item_next {
        right: 20px;
    }

    .carsousel-directionNav-item:before {
        font-size: 20px;
    }
    

}