/* ---------------------------------------------------------------------
siteTitle
------------------------------------------------------------------------ */

.siteTitle {
    font-family: $FONT_HEADLINE;
    color: $COLOR_PRIMARY;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 2.5px;
    text-align: center;
	transition: all .75s ease-in-out;
}

.siteTitle-seg2 {
    display: block;
    font-size: 1.3em;
    line-height: .95;
}

.mix-siteTitle_accent {
    color: $COLOR_SECONDARY;
}

.isActive.siteTitle {
	margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1.15px;

    .siteTitle-seg2 {
    	font-size: 1em;
    	display: inline-block;
    	margin-left: 0.4em;	
    }
}


@media screen and (min-width: 320px) {
    
    .siteTitle {
        font-size: 25px;
    }
}

@media screen and (min-width: 375px) {
    
    .siteTitle {
        font-size: 31px;
    }
}

@media screen and (min-width: 400px) {
    
    .siteTitle {
        font-size: 35px;
    }
}

@media screen and (min-width: 410px) {
    
    .siteTitle {
        font-size: 37px;
    }
}

@media screen and (min-width: 485px) {
    
    .siteTitle {
        font-size: 47px;
    }
}

@media screen and (min-width: 568px) {
    
    .siteTitle {
        font-size: 51px;
    }

    .isActive.siteTitle {
        font-size: 28px;
    }


}