/* ---------------------------------------------------------------------
split
------------------------------------------------------------------------ */

.split {
    overflow: hidden; // simple clearfix
}

.split-lft {
    float: left;
}

.split-rgt {
    float: right;
}