/* ---------------------------------------------------------------------
search
------------------------------------------------------------------------ */

.searchForm {
	display: inline-block;
	position: relative; // provides positioning context for absolutely positioned submit button
	width: 100%;
	transition: all .75s ease-in-out;
}

.searchForm-input {
	display: block;
	background: $WHITE;
	width: 100%;
	padding: 18px 55px 18px 18px; // extra right padding makes room for absolutely positioned button
	margin: 0;
	border: 1px solid $GREY_MEDIUM;
	font-size: 15px;
	line-height: 1.1;
	font-family: $FONT_HEADLINE;
	font-weight: 200;
	letter-spacing: 1.15px;
	border-radius: 3px;
}

.searchForm-submit {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 51px;
	overflow: hidden;
	text-indent: -999em;
	text-align: left;
	background: $RED;
	border: none;
	border-radius: 0 3px 3px 0;

	&:after {
		position: absolute;
		display: block;
		font-family: $FONT_ICON;
		@include icon_search();
		font-size: 26px;
		color: $GREY_LIGHT;
		text-indent: 0;
		top: 13px;
		left: 13px;
	}

	&:hover,
	&:focus {
		background: lighten($RED, 10);
	}
}

@media screen and (max-width: 768px) {
	
	.searchForm-input {
		font-size: 12px;

		&:focus {
			font-size: $FONT_SIZE_DEFAULT;
			padding: 16px 55px 16px 18px; // extra right padding makes room for absolutely positioned button
		}
	}
}