/*doc
---
title: Button
name: btn
category: content
---

The Button object is used to style clickable elements. The Button object will add hover and focus states.
An optional extension is available to create an animated gradient hover.

Class                       | Description
--------------------------- | ---------------------------------------------------------------
`.btn`                      | Base class.
`.btn_gradient`             | Modifying extension for base class. Adds animated gradient background.


### Basic button
```html_example
    <a class="btn">Click Me</a> 
```

### Button with animated gradient background
```html_example
    <a class="btn btn_gradient">Click Me</a>    
```

*/

// gradient color variables
$btn-COLOR1: #c62e2a;
$btn-COLOR2: #f46e29;
$btn-COLOR3: #d23196;
$btn-COLOR4: #8e31d2;
$btn-COLOR5: #306fe5;
$btn-COLOR6: #3f75d9;
.btn {
    display: inline-block;
    border: 1px solid $COLOR_LINK_DEFAULT;
    padding: 12px 30px 10px;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    transition: all .5s ease-in-out;
    background: white;
}

.btn:hover,
.btn:focus {
    color: #ffffff;
    background: $COLOR_LINK_DEFAULT;
}

.btn_gradient {
    position: relative;
    background: none;
    z-index: 1; // force button text to appear above background psuedo element
}

.btn_gradient:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    height: 100%;
    width: 0px;
    background: red;
    z-index: -1; // force background behind button text
    transition: all .5s ease-in-out;
    transform: translateX(-50%) skewX(45deg);
}

.btn_gradient:hover,
.btn_gradient:focus {
    color: #ffffff;
    background: none;
}

.btn_gradient:hover:after,
.btn_gradient:focus:after {
    width: 100%;
    // setting the gradient background here since this is the resting state following the animation
    background: red linear-gradient( 90deg, $btn-COLOR1, $btn-COLOR2, $btn-COLOR4, $btn-COLOR6);
    background-size: 800% 800%;
    animation: gradientChange 5s forwards 1 linear;
}


/* animation keyframes */

@keyframes gradientChange {
    // keep the background red during the opening movement
    // otherwise the gradient is visible
    0% {
        background-color: red;
    }
    20% {
        //start the gradient transition here
        background: linear-gradient( 90deg, $btn-COLOR1, $btn-COLOR2, $btn-COLOR4, $btn-COLOR6);
        background-size: 800% 800%;
        background-position: 0% 0%
    }
    40% {
        background-position: 25% 0%
    }
    60% {
        background-position: 50% 0%
    }
    80% {
        background-position: 75% 0%
    }
    100% {
        background-position: 100% 0%;
    }
}
