.mix-a_reversed {
	color: $BLUE_LIGHT;

	&:hover {
		color: lighten($BLUE_LIGHT, 12%);
	}
}

.link {
    color: $BLUE;
    font-weight: lighter;

    &:hover,
    &:focus {
        color: lighten($BLUE, 12%);
    }
}