.mix-a_reversed {
    color: $COLOR_PRIMARY;

    &:hover {
        color: lighten($COLOR_PRIMARY, 12%);
    }
}

.link {
    display: inline-block;
    cursor: pointer;
    background: none;
    border: 0;
    color: $COLOR_PRIMARY;
    font-weight: lighter;

    &:hover,
    &:focus {
        color: lighten($COLOR_PRIMARY, 12%);
    }
}
