/* ---------------------------------------------------------------------
Grid
------------------------------------------------------------------------ */


// ----------------------------------------------------------------------------
// configurable grid variables
// ----------------------------------------------------------------------------
$PAGE_WIDTH: 960px;
$GUTTER: 20px;
$COLUMNS: 12;

.grid {
    margin-right: -($GUTTER);
    font-size: 0; // remove whitespace between inline-block elements
}

.grid-col {
    display: inline-block;
    vertical-align: top;
    padding-right: $GUTTER;
    font-size: $FONT_SIZE_DEFAULT;
}

// set up the grid-col widths
@for $i from 1 through $COLUMNS {

    .grid-col_#{$i}of#{$COLUMNS} {
         // (current number of columns / total columns) * 100%
        width: ($i / $COLUMNS) * 100%;
    }
}
