/* ---------------------------------------------------------------------
actions
------------------------------------------------------------------------ */

.actions {
	display: block;
	text-align: center;
}

.actions > * {
	display: inline-block;
	padding: 13px 18px;
	border-top: solid 1px $GREY;
}

.actions > *:first-of-type {
	border-left: solid 1px $GREY;
	border-radius: 4px 0 0 0
}

.actions > *:last-of-type {
	border-right: solid 1px $GREY;
	border-radius:  0 4px 0 0
}

.actions > * + * {
	border-left: 1px solid $GREY;
}

.actions-item > * {
	display: inline-block;
}