/* ---------------------------------------------------------------------
actions
------------------------------------------------------------------------ */

.actions {
	display: block;
	text-align: center;
}

.actions > * {
	display: inline-block;
	padding: 10px 18px;
	border-top: solid 1px $GREY;
}

.actions > *:first-of-type {
	border-left: solid 1px $GREY;
	border-radius: 4px 0 0 0
}

.actions > *:last-of-type {
	border-right: solid 1px $GREY;
	border-radius:  0 4px 0 0
}

.actions > * + * {
	border-left: 1px solid $GREY;
}

.actions-item:hover {
	background-color: $GREY_LIGHT;
	-webkit-transition: background .25s ease-in-out;
	   -moz-transition: background .25s ease-in-out;
	    -ms-transition: background .25s ease-in-out;
	     -o-transition: background .25s ease-in-out;
	        transition: background .25s ease-in-out;
}

.actions-item > * {
	display: inline-block;
	vertical-align: middle;
}

.actions-item > * + * {
	margin-left: 5px;
}

.actions-item-title {
	text-transform: uppercase;
	font-weight: bold;
	line-height: 0.9; // vertically aligns text with icon
}