@import 'scss/helpers/_globalVars';
@import 'scss/helpers/_mixins';

.site {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: $WHITE;
}

.site__hd {
    flex: 1;
    background-color: $COLOR_PRIMARY;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.site__logo {
    margin-bottom: 42px;
}

.site__search {
    width: 100%;
    max-width: 560px;
}

.site--hasSearchVal {
    .site__hd {
        flex-direction: row;
        flex: 0 1 auto;
        justify-content: flex-start;
        padding: 0;
        border-bottom: 1px solid $BLACK;
    }

    .site__bd {
        display: flex;
        flex: 1;
    }

    .site__secondary {
        max-width: 470px;
        padding: 30px 53px;
        width: 45%;
        background-color: $COLOR_PRIMARY;
        border-top: 1px solid transparentize($WHITE, 0.89);
    }

    .site__logo {
        margin-bottom: 0;
        padding: 10px 53px;
        max-width: 470px;
        width: 45%;
    }

    .site__search {
        flex: 1;
        max-width: none;
    }
}

@include breakpoint(md) {
}
