@import 'scss/helpers/_globalVars';

.site {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.site__bd {
    flex: 1;
    background-color: $COLOR_PRIMARY;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.site__logo {
    margin-bottom: 42px;
}

.site__search {
    width: 560px;
}
