/* ---------------------------------------------------------------------
headings
------------------------------------------------------------------------ */

.hdg {
    display: inline-block;
    font-family: $FONT_DEFAULT;
    font-weight: bold;
}

.hdg_1 {
    font-size: 2.125em;
    font-weight: normal;
}

.hdg_2 {
    font-size: 1.25em;
    font-weight: normal;
}

.hdg_3 {
    font-size: 1em;
}

/* heading variations */
.mix-hdg_capitalize {
    text-transform: capitalize;
}

.mix-hdg_uppercase {
    text-transform: uppercase;
}

.mix-hdg_headline {
    font-family: $FONT_HEADLINE;
}

.mix-hdg_centered {
	display: block;
    text-align: center;
}

.mix-hdg_block {
    display: block;
}

.mix-hdg_light {
    color: $GREY_LIGHT;
    -webkit-font-smoothing: antialiased;
}

.mix-hdg_medium {
    color: $GREY;
    -webkit-font-smoothing: antialiased;
}

.mix-hdg_dark {
    color: $GREY_DARK;
    -webkit-font-smoothing: antialiased;
}

.mix-hdg_blue {
    color: $BLUE;
}

.mix-hdg_red {
    color: $RED;
}
