/* ---------------------------------------------------------------------
site
------------------------------------------------------------------------ */

// prevent body from scrolling when msg is active
body.hasMsg {
    position: fixed;
    overflow: hidden;
}

.site {
    position: relative; // creates positioning context for message container
}

.site-msg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $GREY_LIGHT;
    overflow-y: scroll;
}

.site-msg-action {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 44px;
    width: 44px;
    background: $RED;
    border: 0;
    text-indent: -999em;
    font-size: 0;
    border-radius: 50%;

    &:after {
        display: block;
        font-family: $FONT_ICON;
        @include icon_close();
        text-indent: 0;
        font-size: 24px;
        color: $WHITE;
    }
}

.site-msg-bd {
    padding: 10px;
}

@media screen and (min-width: 480px) {
    
    .site-msg-bd {
        padding: 50px;
    }

}