/* ---------------------------------------------------------------------
Stars and Stripes
------------------------------------------------------------------------ */

.starsNstripes {
    position: relative;
    margin-top: 14px;
    overflow: hidden;
}

.starsNstripes-stripe {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    height: 2px;
    background-color: $GREY;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transform: translateX(-100%);
}

.starsNstripes-stripe_rgt {
    right: 0;
    left: auto;
    transform: translateX(100%);
}

.isActive.starsNstripes .starsNstripes-stripe {
    transform: translateX(0%);
}

.isActive.starsNstripes .starsNstripes-stripe_rgt {
    transform: translateX(0%);
}

.starsNstripes-stripeSm {
    display: block;
    position: absolute;
    left: 0;
    top: 35%;
    width: 22px;
    margin-left: -44px;
    height: 2px;
    background-color: $RED;
    border-radius: 5px;
    transition: all .7s ease-in-out;
}

.starsNstripes-stripeSm_rgt {
    right: 0;
    left: auto;
    margin-right: -44px;
}

.starsNstripes-stripeSm_btm {
    background-color: $BLUE;
    top: 63%;
}

.isActive.starsNstripes .starsNstripes-stripeSm {
    left: 50%;
}

.isActive.starsNstripes .starsNstripes-stripeSm_rgt {
    right: 50%;
    left: auto;
}

.starsNstripes-star {
    position: relative;
    display: inline-block;
    font-size: 0;
    color: $GREY;
    background-color: $GREY_LIGHT;
    z-index: 1;
    opacity: 0;
    transition: all .25s ease-in-out;
}

.isActive.starsNstripes .starsNstripes-star {
    opacity: 1;
    font-size: 30px;
}