/* ---------------------------------------------------------------------
vertical list
------------------------------------------------------------------------ */

.vList > * + * {
	margin-top: 1.375em;
}


.vList_divided > * {
    padding: 0.5em 0;
}

.vList_divided > * + * {
    margin: 0;
    border-top: 1px solid $GREY_MEDIUM;
}