/* ---------------------------------------------------------------------
 Modern Styles
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

html {
  overflow-y: scroll;
  /* Always show a vertical scrollbar, even when there is no scrolling */ }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

audio, canvas, video, progress, picture {
  display: inline-block; }

template {
  display: none; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

@font-face {
  font-family: 'Liberator';
  src: url("../fonts/liberator-heavy-webfont.woff2") format("woff2"), url("../fonts/liberator-heavy-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Liberator';
  src: url("../fonts/liberator-light-webfont.woff2") format("woff2"), url("../fonts/liberator-light-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Liberator';
  src: url("../fonts/liberator-medium-webfont.woff2") format("woff2"), url("../fonts/liberator-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-black-webfont.woff2") format("woff2"), url("../fonts/lato-black-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'yfpp-icons';
  src: url("../fonts/yfpp-icons.eot?aa1z5l");
  src: url("../fonts/yfpp-icons.eot?aa1z5l#iefix") format("embedded-opentype"), url("../fonts/yfpp-icons.ttf?aa1z5l") format("truetype"), url("../fonts/yfpp-icons.woff?aa1z5l") format("woff"), url("../fonts/yfpp-icons.svg?aa1z5l#yfpp-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ---------------------------------------------------------------------
element styles - any styles that need to be applied to unclassed elements
These styles should be kept to a minimum in order to avoid styles bleeding
into other modules.
------------------------------------------------------------------------ */
* {
  box-sizing: border-box; }

body {
  font-family: "Lato", sanserif;
  font-size: 14px;
  line-height: 1.286;
  color: #4b4b4b;
  background-color: #e4e1dd; }

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

img {
  max-width: 100%;
  vertical-align: top; }

.isHidden {
  display: none !important; }

.isVisuallyHidden {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important; }

/* ---------------------------------------------------------------------
contentWrap - outer container for main content
------------------------------------------------------------------------ */
.contentWrap {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 50px; }

.contentWrap-primary {
  position: relative;
  top: 50%;
  margin: -100px auto 0;
  text-align: center;
  transition: all .25s ease-in-out; }

.contentWrap-primary-inner {
  display: inline-block; }

.contentWrap-secondary {
  transition: all .45s ease-in-out;
  transform: translateY(500px);
  opacity: 0; }

.isActive.contentWrap .contentWrap-primary {
  top: 0;
  margin: 0 auto 20px; }

.isActive.contentWrap .contentWrap-secondary {
  max-width: 728px;
  margin: 0 auto;
  transform: translateY(0px);
  opacity: 1; }

/* ---------------------------------------------------------------------
header
------------------------------------------------------------------------ */
/*doc
---
title: Button
name: btn
category: content
---

The Button object is used to style clickable elements. The Button object will add hover and focus states.
An optional extension is available to create an animated gradient hover.

Class                       | Description
--------------------------- | ---------------------------------------------------------------
`.btn`                      | Base class.
`.btn_gradient`             | Modifying extension for base class. Adds animated gradient background.


### Basic button
```html_example
    <a class="btn">Click Me</a> 
```

### Button with animated gradient background
```html_example
    <a class="btn btn_gradient">Click Me</a>    
```

*/
.btn {
  display: inline-block;
  border: 1px solid #000000;
  padding: 12px 30px 10px;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  transition: all .5s ease-in-out;
  background: white; }

.btn:hover,
.btn:focus {
  color: #ffffff;
  background: #000000; }

.btn_gradient {
  position: relative;
  background: none;
  z-index: 1; }

.btn_gradient:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  height: 100%;
  width: 0px;
  background: red;
  z-index: -1;
  transition: all .5s ease-in-out;
  transform: translateX(-50%) skewX(45deg); }

.btn_gradient:hover,
.btn_gradient:focus {
  color: #ffffff;
  background: none; }

.btn_gradient:hover:after,
.btn_gradient:focus:after {
  width: 100%;
  background: red linear-gradient(90deg, #c62e2a, #f46e29, #8e31d2, #3f75d9);
  background-size: 800% 800%;
  animation: gradientChange 5s forwards 1 linear; }

/* animation keyframes */
@keyframes gradientChange {
  0% {
    background-color: red; }
  20% {
    background: linear-gradient(90deg, #c62e2a, #f46e29, #8e31d2, #3f75d9);
    background-size: 800% 800%;
    background-position: 0% 0%; }
  40% {
    background-position: 25% 0%; }
  60% {
    background-position: 50% 0%; }
  80% {
    background-position: 75% 0%; }
  100% {
    background-position: 100% 0%; } }

/* ---------------------------------------------------------------------
icons
------------------------------------------------------------------------ */
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yfpp-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon_banner-notch:before {
  content: "\e900"; }

.icon_chevron-left:before {
  content: "\e902"; }

.icon_chevron-right:before {
  content: "\e903"; }

.icon_close-icon:before {
  content: "\e904"; }

.icon_facebook-icon:before {
  content: "\e905"; }

.icon_icon-search:before {
  content: "\e906"; }

.icon_link-icon:before {
  content: "\e907"; }

.icon_map-icon:before {
  content: "\e908"; }

.icon_star-full:before {
  content: "\e909"; }

.icon_star-hollow:before {
  content: "\e90a"; }

.icon_star-solid:before {
  content: "\e90b"; }

.icon_stripes-left:before {
  content: "\e90c"; }

.icon_stripes-right:before {
  content: "\e90d"; }

.icon_twitter-icon:before {
  content: "\e90e"; }

.icon_star-empty:before {
  content: "\e901"; }

/* ---------------------------------------------------------------------
siteTitle
------------------------------------------------------------------------ */
.siteTitle {
  font-family: "Liberator", sanserif;
  color: #2b3975;
  font-size: 52px;
  line-height: 1;
  letter-spacing: 2.5px;
  transition: all .75s ease-in-out; }

.siteTitle-seg2 {
  display: block;
  font-size: 1.3em;
  line-height: .95; }

.mix-siteTitle_accent {
  color: #7d2929; }

.isActive.siteTitle {
  margin-bottom: 10px;
  font-size: 28px;
  letter-spacing: 1.15px; }
  .isActive.siteTitle .siteTitle-seg2 {
    font-size: 1em;
    display: inline-block;
    margin-left: 0.4em; }

/* ---------------------------------------------------------------------
card
------------------------------------------------------------------------ */
.card {
  background-color: rgba(187, 187, 187, 0.45);
  border: solid 2px #7d2929;
  border-radius: 6px; }

.card_secondary {
  border-color: #2b3975; }

.card-bd {
  padding: 36px; }

.card-ft {
  text-align: center; }

/* ---------------------------------------------------------------------
actions
------------------------------------------------------------------------ */
.actions {
  display: block;
  text-align: center; }

.actions > * {
  display: inline-block;
  border: solid 0.5px #b1ada8;
  border-radius: 2px; }

.actions-item > * {
  display: inline-block; }

/* ---------------------------------------------------------------------
search 
------------------------------------------------------------------------ */
.searchForm {
  display: inline-block;
  position: relative;
  width: 490px;
  transition: all .75s ease-in-out; }

.searchForm-input {
  display: block;
  background: #f1eeea;
  width: 100%;
  padding: 20px 55px 20px 20px;
  border: 1px solid #bbbbbb;
  font-size: 15px;
  font-family: "Liberator", sanserif;
  font-weight: 200;
  letter-spacing: 1.15px;
  border-radius: 3px; }

.searchForm-submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: 55px;
  overflow: hidden;
  text-indent: -999em;
  text-align: left;
  background: #7d2929;
  border: none;
  border-radius: 0 3px 3px 0; }
  .searchForm-submit:after {
    position: absolute;
    display: block;
    font-family: "yfpp-icons";
    content: "\e906";
    font-size: 30px;
    color: #e4e1dd;
    text-indent: 0;
    top: 13px;
    left: 13px; }
  .searchForm-submit:hover, .searchForm-submit:focus {
    background: #a33636; }

/* active state  */
.isActive.searchForm {
  width: 479px; }

/* ---------------------------------------------------------------------
Tabs
------------------------------------------------------------------------ */
.tabs-nav {
  display: block;
  text-align: center;
  margin-bottom: 40px; }

.tabs-nav > * {
  display: inline-block;
  overflow: hidden;
  width: 50%; }

.tabs-nav-item-btn {
  position: relative;
  display: block;
  width: 100%;
  background-color: #b1ada8;
  border: none;
  color: #e4e1dd;
  padding: 16px;
  font-size: 20px;
  font-family: "Liberator", sanserif;
  letter-spacing: 1.5px; }

.tabs-nav-item:first-of-type .isActive.tabs-nav-item-btn {
  background-color: #7d2929; }

.isActive.tabs-nav-item-btn {
  background-color: #2b3975; }

.tabs-nav-item:first-of-type .tabs-nav-item-btn:before {
  position: absolute;
  display: block;
  font-family: "yfpp-icons";
  content: "\e900";
  font-size: 2.5em;
  color: #e4e1dd;
  text-indent: 0;
  top: -1px;
  left: -.295em; }

.tabs-nav-item:last-of-type .tabs-nav-item-btn:after {
  position: absolute;
  display: block;
  font-family: "yfpp-icons";
  content: "\e900";
  font-size: 2.5em;
  color: #e4e1dd;
  text-indent: 0;
  top: -1px;
  right: -.295em; }

.tabs-panel {
  transition: all .15s ease-in-out;
  padding: 0 50px; }

.tabs-panel.fade-enter {
  opacity: 0;
  transform: translateX(-50%); }

.tabs-panel.fade-enter-active {
  opacity: 1;
  transform: translateX(0); }

.tabs-panel.fade-leave {
  opacity: 0;
  transform: translateX(50%); }

.tabs-panel.fade-enter-active {
  opacity: 1;
  transform: translateX(0); }

/* ---------------------------------------------------------------------
Blocks
------------------------------------------------------------------------ */
.blocks {
  margin-left: -20px;
  font-size: 0; }

.blocks > * {
  display: inline-block;
  padding-left: 20px;
  width: 100%;
  vertical-align: top;
  font-size: 1rem; }

.blocks_2up > * {
  width: 50%; }

.blocks_3up > * {
  width: 33.33333%; }

.blocks_4up > * {
  width: 25%; }

/* Blocks Vertical rhythm - adds top margin to any blocks that wrap to a second row */
.blocks_2up > *:nth-child(n+3),
.blocks_3up > *:nth-child(n+4),
.blocks_4up > *:nth-child(n+5) {
  margin-top: 20px; }

/* ---------------------------------------------------------------------
Grid
------------------------------------------------------------------------ */
.grid {
  margin-right: -20px;
  font-size: 0; }

.grid-col {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  font-size: 14px; }

.grid-col_1of12 {
  width: 8.33333%; }

.grid-col_2of12 {
  width: 16.66667%; }

.grid-col_3of12 {
  width: 25%; }

.grid-col_4of12 {
  width: 33.33333%; }

.grid-col_5of12 {
  width: 41.66667%; }

.grid-col_6of12 {
  width: 50%; }

.grid-col_7of12 {
  width: 58.33333%; }

.grid-col_8of12 {
  width: 66.66667%; }

.grid-col_9of12 {
  width: 75%; }

.grid-col_10of12 {
  width: 83.33333%; }

.grid-col_11of12 {
  width: 91.66667%; }

.grid-col_12of12 {
  width: 100%; }

/* ---------------------------------------------------------------------
hList
------------------------------------------------------------------------ */
.hList > * {
  display: inline-block; }

/*doc
---
title: Media Object
name: media
category: layout
---

The Media Object object is a simple layout module that is used to display media on the left, and copy or other content on the right.

Class                       | Description
--------------------------- | ---------------------------------------------------------------
`.media`                    | Base class.
`.media-md`                 | Child of base class. Container for the media element
`.media-bd`                 | Child of base class. Container for copy content


```html_example
<div class="media">
    <div class="media-md">
    	<img src="http://placehold.it/150x150" alt="">
    </div>
    <div class="media-bd">

    <!-- Insert any content modules here -->
        <h3 class="heading heading_3">Add any content to this section</h3>
        <p class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus alias sit at ratione repellat eligendi blanditiis amet optio, ipsum cupiditate temporibus accusantium fugiat hic mollitia necessitatibus eum beatae sint!</p>
    <!-- END content modules -->

    </div>
</div>

```

*/
.media:before, .media:after {
  content: " ";
  display: table; }

.media:after {
  clear: both; }

.media-md {
  float: left;
  margin-right: 15px; }

.media-bd {
  overflow: hidden; }

/* ---------------------------------------------------------------------
vertical list
------------------------------------------------------------------------ */
.vList > * + * {
  margin-top: 12px; }

/*doc
---
title: Wrapper
name: wrapper
category: layout
---

The Wrapper object is a constrained width container that is used to horizontally center content in the viewport.

Class                       | Description
--------------------------- | ---------------------------------------------------------------
`.wrapper`                  | Base class.


```html_example
<div class="wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas natus doloribus soluta eius, quasi architecto consequatur nemo dignissimos delectus facere nihil provident magni voluptate quam, quia! Adipisci, placeat commodi ipsum rem, sunt voluptates error dignissimos laudantium ipsa? Quasi doloremque vitae vel aperiam dicta molestias eaque laudantium unde illum qui! Rem!</div>

```

*/
.wrapper {
  max-width: 960px;
  margin: 0 auto; }
