/* ---------------------------------------------------------------------
 Modern Styles
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

html {
  overflow-y: scroll;
  /* Always show a vertical scrollbar, even when there is no scrolling */ }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

audio, canvas, video, progress, picture {
  display: inline-block; }

template {
  display: none; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  box-sizing: border-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

@font-face {
  font-family: 'Liberator';
  src: url("../fonts/liberator-heavy-webfont.woff2") format("woff2"), url("../fonts/liberator-heavy-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Liberator';
  src: url("../fonts/liberator-light-webfont.woff2") format("woff2"), url("../fonts/liberator-light-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Liberator';
  src: url("../fonts/liberator-medium-webfont.woff2") format("woff2"), url("../fonts/liberator-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-black-webfont.woff2") format("woff2"), url("../fonts/lato-black-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'yfpp-icons';
  src: url("../fonts/yfpp-icons.eot?aa1z5l");
  src: url("../fonts/yfpp-icons.eot?aa1z5l#iefix") format("embedded-opentype"), url("../fonts/yfpp-icons.ttf?aa1z5l") format("truetype"), url("../fonts/yfpp-icons.woff?aa1z5l") format("woff"), url("../fonts/yfpp-icons.svg?aa1z5l#yfpp-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ---------------------------------------------------------------------
element styles - any styles that need to be applied to unclassed elements
These styles should be kept to a minimum in order to avoid styles bleeding
into other modules.
------------------------------------------------------------------------ */
* {
  box-sizing: border-box; }

body {
  font-family: "Lato", sanserif;
  font-size: 13px;
  line-height: 1.286;
  color: #4b4b4b;
  background-color: #e4e1dd; }

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

img {
  max-width: 100%;
  vertical-align: top; }

@media screen and (min-width: 768px) {
  body {
    font-size: 16px; } }

.isHidden {
  display: none !important; }

.isVisuallyHidden {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important; }

/* ---------------------------------------------------------------------
contentWrap - outer container for main content
------------------------------------------------------------------------ */
.contentWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 20px; }

.no-flexbox .contentWrap {
  display: block;
  height: auto; }

.contentWrap-ancillary {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-bottom: 10px; }

.contentWrap-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.no-flexbox .contentWrap-primary {
  display: block; }

.contentWrap-primary-inner {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center; }

.contentWrap-secondary {
  width: 100%;
  height: 0;
  -webkit-transition: all .45s ease-in-out;
  transition: all .45s ease-in-out;
  -webkit-transform: translateY(500px);
          transform: translateY(500px);
  opacity: 0; }

.contentWrap-tertiary {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: end;
      align-self: flex-end; }

/* active state */
.isActive.contentWrap {
  height: auto; }
  .isActive.contentWrap .contentWrap-primary {
    top: 0;
    margin: 0 auto 20px; }
  .isActive.contentWrap .contentWrap-secondary {
    height: auto;
    max-width: 728px;
    margin: 0 auto 50px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }

@media screen and (min-width: 768px) {
  .contentWrap-ancillary {
    -ms-flex-item-align: end;
        align-self: flex-end; } }

/* ---------------------------------------------------------------------
header
------------------------------------------------------------------------ */
.footer {
  background: #3f3d3c url("../images/fucking-eagle.png") bottom center no-repeat;
  padding: 80px 0; }

.privacy-info {
  max-width: 650px;
  margin: 32px auto 0; }

.team {
  margin-bottom: 50px; }

/* ---------------------------------------------------------------------
icons
------------------------------------------------------------------------ */
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yfpp-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon_youtube:before {
  content: "\e901"; }

.icon_banner-notch:before {
  content: "\e900"; }

.icon_chevron-left:before {
  content: "\e902"; }

.icon_chevron-right:before {
  content: "\e903"; }

.icon_close-icon:before {
  content: "\e904"; }

.icon_facebook:before {
  content: "\e905"; }

.icon_search:before {
  content: "\e906"; }

.icon_link:before {
  content: "\e907"; }

.icon_map:before {
  content: "\e908"; }

.icon_star-full:before {
  content: "\e909"; }

.icon_star-hollow:before {
  content: "\e90a"; }

.icon_star-solid:before {
  content: "\e90b"; }

.icon_twitter:before {
  content: "\e90e"; }

.mix-icon_centered {
  display: block;
  text-align: center; }

.mix-icon_hr {
  margin: 30px 0 45px;
  line-height: 45px;
  font-size: 32px;
  color: rgba(228, 225, 221, 0.3); }

/* ---------------------------------------------------------------------
actionLink
------------------------------------------------------------------------ */
.actionLink {
  display: inline-block;
  text-indent: -999em;
  font-size: 0;
  overflow: hidden;
  height: 22px;
  width: 22px;
  background-color: #bbbbbb;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
  -webkit-font-smoothing: antialiased; }
  .actionLink:after {
    display: inline-block;
    vertical-align: middle;
    font-family: "yfpp-icons";
    text-indent: 0;
    font-size: 18px;
    color: #f1eeea; }
  .actionLink:hover, .actionLink:focus {
    background-color: #7d2929; }

.actionLink_twitter:after {
  content: "\e90e"; }

.actionLink_facebook:after {
  content: "\e905"; }

.actionLink_youtube:after {
  content: "\e901"; }

.actionLink_map:after {
  content: "\e908";
  font-size: 16px; }

.mix-actionLink_blue:hover,
.mix-actionLink_blue:focus {
  background-color: #2b3975; }

.mix-actionLink_twitter {
  background-color: #7d2929; }
  .mix-actionLink_twitter:hover, .mix-actionLink_twitter:focus {
    background-color: #a33636; }

.mix-actionLink_facebook {
  background-color: #2b3975; }
  .mix-actionLink_facebook:hover, .mix-actionLink_facebook:focus {
    background-color: #394b9a; }

.mix-actionLink_lrg {
  height: 32px;
  width: 32px; }
  .mix-actionLink_lrg:after {
    font-size: 26px; }

/* ---------------------------------------------------------------------
Form Select
------------------------------------------------------------------------ */
.formSelect {
  display: block;
  width: 100%;
  padding: 15px;
  background: #f1eeea url(../images/chevron-down.svg) no-repeat right center;
  border: 1px solid #b1ada8;
  font-size: 13px;
  font-family: "Liberator", sanserif;
  font-weight: lighter;
  -webkit-appearance: none;
  -moz-appearance: none; }

/* ---------------------------------------------------------------------
headings
------------------------------------------------------------------------ */
.hdg {
  display: inline-block;
  font-family: "Lato", sanserif;
  font-weight: bold; }

.hdg_1 {
  font-size: 2.125em;
  font-weight: normal; }

.hdg_2 {
  font-size: 1.25em;
  font-weight: normal; }

.hdg_3 {
  font-size: 1em; }

/* heading variations */
.mix-hdg_capitalize {
  text-transform: capitalize; }

.mix-hdg_uppercase {
  text-transform: uppercase; }

.mix-hdg_headline {
  font-family: "Liberator", sanserif; }

.mix-hdg_centered {
  display: block;
  text-align: center; }

.mix-hdg_block {
  display: block; }

.mix-hdg_light {
  color: #e4e1dd;
  -webkit-font-smoothing: antialiased; }

.mix-hdg_medium {
  color: #b1ada8;
  -webkit-font-smoothing: antialiased; }

.mix-hdg_blue {
  color: #2b3975; }

.mix-a_reversed {
  color: #AED3E1; }
  .mix-a_reversed:hover {
    color: #dbebf2; }

.link {
  color: #2b3975;
  font-weight: lighter; }
  .link:hover, .link:focus {
    color: #3b4fa2; }

/* ---------------------------------------------------------------------
siteTitle
------------------------------------------------------------------------ */
.siteTitle {
  font-family: "Liberator", sanserif;
  color: #2b3975;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 2.5px;
  text-align: center;
  -webkit-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out; }

.siteTitle-seg2 {
  display: block;
  font-size: 1.3em;
  line-height: .95; }

.mix-siteTitle_accent {
  color: #7d2929; }

.isActive.siteTitle {
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 1.15px; }
  .isActive.siteTitle .siteTitle-seg2 {
    font-size: 1em;
    display: inline-block;
    margin-left: 0.4em; }

@media screen and (min-width: 320px) {
  .siteTitle {
    font-size: 25px; } }

@media screen and (min-width: 375px) {
  .siteTitle {
    font-size: 31px; } }

@media screen and (min-width: 400px) {
  .siteTitle {
    font-size: 35px; } }

@media screen and (min-width: 410px) {
  .siteTitle {
    font-size: 37px; } }

@media screen and (min-width: 485px) {
  .siteTitle {
    font-size: 47px; } }

@media screen and (min-width: 568px) {
  .siteTitle {
    font-size: 51px; }
  .isActive.siteTitle {
    font-size: 28px; } }

/* ---------------------------------------------------------------------
Stars and Stripes
------------------------------------------------------------------------ */
.starsNstripes {
  position: relative;
  margin-top: 14px;
  text-align: center;
  overflow: hidden; }

.starsNstripes-stripe {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 50%;
  height: 2px;
  background-color: #b1ada8;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%); }

.starsNstripes-stripe_rgt {
  right: 0;
  left: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%); }

.isActive.starsNstripes .starsNstripes-stripe {
  -webkit-transform: translateX(0%);
          transform: translateX(0%); }

.isActive.starsNstripes .starsNstripes-stripe_rgt {
  -webkit-transform: translateX(0%);
          transform: translateX(0%); }

.starsNstripes-stripeSm {
  display: block;
  position: absolute;
  left: 0;
  top: 35%;
  width: 22px;
  margin-left: -44px;
  height: 2px;
  background-color: #7d2929;
  border-radius: 5px;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out; }

.starsNstripes-stripeSm_rgt {
  right: 0;
  left: auto;
  margin-right: -44px; }

.starsNstripes-stripeSm_btm {
  background-color: #2b3975;
  top: 63%; }

.isActive.starsNstripes .starsNstripes-stripeSm {
  left: 50%; }

.isActive.starsNstripes .starsNstripes-stripeSm_rgt {
  right: 50%;
  left: auto; }

.starsNstripes-star {
  position: relative;
  display: inline-block;
  font-size: 0;
  color: #b1ada8;
  background-color: #e4e1dd;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.isActive.starsNstripes .starsNstripes-star {
  opacity: 1;
  font-size: 24px; }

/* ---------------------------------------------------------------------
text
------------------------------------------------------------------------ */
.txt {
  font-family: "Lato", sanserif; }

.txtCenter {
  text-align: center; }

/* text variations */
.mix-txt_medium {
  font-size: 0.875em; }

.mix-txt_capitalize {
  text-transform: capitalize; }

.mix-txt_centered {
  text-align: center; }

.mix-txt_light {
  color: #e4e1dd;
  -webkit-font-smoothing: antialiased; }

.mix-txt_blue {
  color: #2b3975; }

.mix-txt_medium_p {
  line-height: 1.3em;
  margin-bottom: 1.4em; }

/* ---------------------------------------------------------------------
userContent - unclassed element styles
------------------------------------------------------------------------ */
.userContent {
  font-family: "Lato", sanserif;
  font-size: 1rem; }
  .userContent h1, .userContent h2, .userContent h3, .userContent h4, .userContent h5, .userContent h6 {
    display: block; }
  .userContent h1 {
    font-size: 34px;
    margin-bottom: 5px; }
  .userContent h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px; }
  .userContent h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; }
  .userContent p {
    margin-bottom: 20px; }
  .userContent small {
    font-size: 14px;
    margin-bottom: 5px; }
  .userContent blockquote {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 10px;
    padding: 30px 60px; }
  .userContent ul,
  .userContent ol {
    margin: 0 0 20px 20px; }
  .userContent ul {
    list-style: disc; }
  .userContent ol {
    list-style: decimal; }
  .userContent li {
    margin: 0 0 5px; }
  .userContent li > ul,
  .userContent li > ol {
    margin: 0 0 0 10px; }
  .userContent > *:last-child {
    margin-bottom: 0; }
  .userContent b,
  .userContent strong {
    font-weight: bold; }
  .userContent i,
  .userContent em {
    font-style: italic; }
  .userContent a {
    color: #2b3975;
    text-decoration: none; }
  .userContent a:hover,
  .userContent a:focus,
  .userContent a:visited {
    color: #394b9a; }

/* ---------------------------------------------------------------------
card
------------------------------------------------------------------------ */
.card {
  position: relative;
  background-color: #cecbc8;
  border: solid 2px #7d2929;
  border-radius: 6px; }

.card_secondary {
  border-color: #2b3975; }

.card_error {
  background-color: #7d2929;
  color: #f1eeea; }

.card-flag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  background-color: #2b3975;
  font-family: "Liberator", sanserif;
  font-size: 12px;
  color: #f1eeea;
  letter-spacing: 1px; }

.card-bd {
  line-height: 26px;
  padding: 28px 14px; }

.card-ft {
  text-align: center; }

@media screen and (min-width: 568px) {
  .card-bd {
    padding: 36px; } }

/* ---------------------------------------------------------------------
site
------------------------------------------------------------------------ */
body.hasMsg {
  position: fixed;
  overflow: hidden; }

.site {
  position: relative; }

.site-msg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e4e1dd;
  overflow-y: scroll;
  z-index: 2; }

.site-msg-action {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 44px;
  width: 44px;
  background: #7d2929;
  border: 0;
  text-indent: -999em;
  font-size: 0;
  border-radius: 50%; }
  .site-msg-action:after {
    display: block;
    font-family: "yfpp-icons";
    content: "\e904";
    text-indent: 0;
    font-size: 24px;
    color: #f1eeea; }

.site-msg-bd {
  padding: 10px; }

@media screen and (min-width: 480px) {
  .site-msg-bd {
    padding: 50px; } }

/* ---------------------------------------------------------------------
actions
------------------------------------------------------------------------ */
.actions {
  display: block;
  text-align: center; }

.actions > * {
  display: inline-block;
  padding: 10px 18px;
  border-top: solid 1px #b1ada8; }

.actions > *:first-of-type {
  border-left: solid 1px #b1ada8;
  border-radius: 4px 0 0 0; }

.actions > *:last-of-type {
  border-right: solid 1px #b1ada8;
  border-radius: 0 4px 0 0; }

.actions > * + * {
  border-left: 1px solid #b1ada8; }

.actions-item:hover {
  background-color: #e4e1dd;
  -webkit-transition: background .25s ease-in-out;
  transition: background .25s ease-in-out; }

.actions-item > * {
  display: inline-block;
  vertical-align: middle; }

.actions-item > * + * {
  margin-left: 5px; }

.actions-item-title {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 0.9; }

/* ---------------------------------------------------------------------
search
------------------------------------------------------------------------ */
.searchForm {
  display: inline-block;
  position: relative;
  width: 100%;
  -webkit-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out; }

.searchForm-input {
  display: block;
  background: #f1eeea;
  width: 100%;
  padding: 18px 55px 18px 18px;
  margin: 0;
  border: 1px solid #bbbbbb;
  font-size: 12px;
  font-family: "Liberator", sanserif;
  font-weight: 200;
  letter-spacing: 1.15px;
  border-radius: 3px; }

.searchForm-submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 51px;
  overflow: hidden;
  text-indent: -999em;
  text-align: left;
  background: #7d2929;
  border: none;
  border-radius: 0 3px 3px 0; }
  .searchForm-submit:after {
    position: absolute;
    display: block;
    font-family: "yfpp-icons";
    content: "\e906";
    font-size: 26px;
    color: #e4e1dd;
    text-indent: 0;
    top: 13px;
    left: 13px; }
  .searchForm-submit:hover, .searchForm-submit:focus {
    background: #a33636; }

@media screen and (min-width: 768px) {
  .searchForm-input {
    font-size: 15px; } }

/* ---------------------------------------------------------------------
Tabs
------------------------------------------------------------------------ */
.tabs-nav {
  display: block;
  text-align: center;
  margin-bottom: 40px; }

.tabs-nav > * {
  display: inline-block;
  overflow: hidden;
  width: 50%; }

.tabs-nav-item-btn {
  position: relative;
  display: block;
  width: 100%;
  background-color: #b1ada8;
  border: none;
  color: #e4e1dd;
  padding: 16px;
  font-size: 20px;
  font-family: "Liberator", sanserif;
  letter-spacing: 1.5px; }

.tabs-nav-item:first-of-type .isActive.tabs-nav-item-btn {
  background-color: #7d2929; }

.isActive.tabs-nav-item-btn {
  background-color: #2b3975; }

.tabs-nav-item:first-of-type .tabs-nav-item-btn:before,
.tabs-nav-item:last-of-type .tabs-nav-item-btn:after {
  position: absolute;
  display: block;
  font-family: "yfpp-icons";
  content: "\e900";
  font-size: 3.05em;
  color: #e4e1dd;
  text-indent: 0;
  top: -0.05em; }

.tabs-nav-item:first-of-type .tabs-nav-item-btn:before {
  left: -.295em; }

.tabs-nav-item:last-of-type .tabs-nav-item-btn:after {
  right: -.295em; }

.tabs-panel {
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  padding: 0 12px; }

.tabs-panel-errorLink {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px; }

.tabs-panel.fade-enter {
  opacity: 0;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px); }

.tabs-panel.fade-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.tabs-panel.fade-leave {
  opacity: 0;
  -webkit-transform: translateY(25px);
          transform: translateY(25px); }

.tabs-panel.fade-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0); }

@media screen and (max-width: 568px) {
  .tabs-nav-item-btn {
    font-size: 14px;
    padding: 12px;
    letter-spacing: .5px; }
  .tabs-nav-item:first-of-type .tabs-nav-item-btn:before,
  .tabs-nav-item:last-of-type .tabs-nav-item-btn:after {
    font-size: 2.75em;
    display: none; }
  .tabs-panel {
    padding: 0 10px; } }

/* ---------------------------------------------------------------------
Blocks
------------------------------------------------------------------------ */
.blocks {
  margin-left: -20px;
  font-size: 0;
  text-align: center; }

.blocks > * {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 20px;
  width: 100%;
  vertical-align: top;
  font-size: 1rem; }

.blocks_2up > * {
  width: 50%; }

.blocks_3up > * {
  width: 33.33333%; }

.blocks_4up > * {
  width: 25%; }

.blocks_6up > * {
  width: 16.66667%; }

/* Blocks Vertical rhythm - adds top margin to any blocks that wrap to a second row */
.blocks_2up > *:nth-child(n+3),
.blocks_3up > *:nth-child(n+4),
.blocks_4up > *:nth-child(n+5),
.blocks_6up > *:nth-child(n+7) {
  margin-top: 20px; }

@media screen and (max-width: 768px) {
  .blocks_2upSM > * {
    width: 50%; }
  .blocks_3upSM > * {
    width: 33.33333%; }
  .blocks_4upSM > * {
    width: 25%; }
  .blocks_6upSM > * {
    width: 16.66667%; }
  .blocks_2upSM > *:nth-child(n+3),
  .blocks_3upSM > *:nth-child(n+4),
  .blocks_4upSM > *:nth-child(n+5),
  .blocks_6upSM > *:nth-child(n+7) {
    margin-top: 20px; } }

@media screen and (min-width: 768px) and (max-width: 960px) {
  .blocks_2upMD > * {
    width: 50%; }
  .blocks_3upMD > * {
    width: 33.33333%; }
  .blocks_4upMD > * {
    width: 25%; }
  .blocks_6upMD > * {
    width: 16.66667%; }
  .blocks_2upMD > *:nth-child(n+3),
  .blocks_3upMD > *:nth-child(n+4),
  .blocks_4upMD > *:nth-child(n+5),
  .blocks_6upMD > *:nth-child(n+7) {
    margin-top: 20px; } }

/* ---------------------------------------------------------------------
Grid
------------------------------------------------------------------------ */
.grid {
  margin-right: -20px;
  font-size: 0; }

.grid-col {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  font-size: 16px; }

.grid-col_1of12 {
  width: 8.33333%; }

.grid-col_2of12 {
  width: 16.66667%; }

.grid-col_3of12 {
  width: 25%; }

.grid-col_4of12 {
  width: 33.33333%; }

.grid-col_5of12 {
  width: 41.66667%; }

.grid-col_6of12 {
  width: 50%; }

.grid-col_7of12 {
  width: 58.33333%; }

.grid-col_8of12 {
  width: 66.66667%; }

.grid-col_9of12 {
  width: 75%; }

.grid-col_10of12 {
  width: 83.33333%; }

.grid-col_11of12 {
  width: 91.66667%; }

.grid-col_12of12 {
  width: 100%; }

/* ---------------------------------------------------------------------
group
------------------------------------------------------------------------ */
.group {
  position: relative; }

.group > * + * {
  margin-top: 22px; }

.group_sm > * + * {
  margin-top: 12px; }

/* group variations */
.mix-group_narrow {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

.mix-group_absolute {
  position: absolute;
  z-index: 3; }

.contentWrap .group > * + * {
  margin-top: 11px; }

/* ---------------------------------------------------------------------
hList
------------------------------------------------------------------------ */
.hList > * {
  display: inline-block; }

.hList > * + * {
  margin-left: 5px; }

.hList-centered {
  text-align: center;
  margin: 0 auto; }

.hList-item_flex {
  padding: 20px 3%; }

/*doc
---
title: Media Object
name: media
category: layout
---

The Media Object object is a simple layout module that is used to display media on the left, and copy or other content on the right.

Class                       | Description
--------------------------- | ---------------------------------------------------------------
`.media`                    | Base class.
`.media-md`                 | Child of base class. Container for the media element
`.media-bd`                 | Child of base class. Container for copy content


```html_example
<div class="media">
    <div class="media-md">
    	<img src="http://placehold.it/150x150" alt="">
    </div>
    <div class="media-bd">

    <!-- Insert any content modules here -->
        <h3 class="heading heading_3">Add any content to this section</h3>
        <p class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus alias sit at ratione repellat eligendi blanditiis amet optio, ipsum cupiditate temporibus accusantium fugiat hic mollitia necessitatibus eum beatae sint!</p>
    <!-- END content modules -->

    </div>
</div>

```

*/
.media:before, .media:after {
  content: " ";
  display: table; }

.media:after {
  clear: both; }

.media-md {
  float: left;
  margin-right: 15px; }

.media-bd {
  overflow: hidden; }

/* ---------------------------------------------------------------------
split
------------------------------------------------------------------------ */
.split {
  overflow: hidden; }

.split-lft {
  float: left; }

.split-rgt {
  float: right; }

/* ---------------------------------------------------------------------
vertical list
------------------------------------------------------------------------ */
.vList > * + * {
  margin-top: 1.375em; }

.vList_divided > * {
  padding: 0.5em 0; }

.vList_divided > * + * {
  margin: 0;
  border-top: 1px solid #bbbbbb; }

/* ---------------------------------------------------------------------
wrapper
------------------------------------------------------------------------ */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px; }

.wrapper_large {
  max-width: 1224px; }

.mix-wrapper_bleed {
  padding: 0; }

@media screen and (min-width: 480px) {
  .wrapper {
    padding: 0 10px; }
  .mix-wrapper_bleed {
    padding: 0; } }
