/* ---------------------------------------------------------------------
wrapper
------------------------------------------------------------------------ */

.wrapper {
	max-width: $GLOBAL_WIDTH;
	margin: 0 auto;
}

.wrapper_large {
	max-width: 1224px;
}