/* ---------------------------------------------------------------------
iconLink
------------------------------------------------------------------------ */

.iconLink > * + * {
    margin-left: 5px;
}

.iconLink > * {
    color: $COLOR_PRIMARY;
}

.iconLink:hover > *,
.iconLink:focus > * {
    color: lighten($COLOR_PRIMARY, 10);
}
