/* ---------------------------------------------------------------------
actionLink
------------------------------------------------------------------------ */

.actionLink {
    display: inline-block;
    text-indent: -999em;
    font-size: 0;
    overflow: hidden;
    height: 22px;
    width: 22px;
    background-color: $GREY_MEDIUM;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    transition: background-color .25s ease-in-out;
    -webkit-font-smoothing: antialiased;

    &:after {
        display: inline-block;
        vertical-align: middle;
        font-family: $FONT_ICON;
        text-indent: 0;
        font-size: 18px;
        color: $WHITE;
    }

    &:hover, &:focus {
        background-color: $RED;
    }
}

.actionLink_twitter:after {
    @include icon_twitter();
}

.actionLink_facebook:after {
    @include icon_facebook();
}

.actionLink_youtube:after {
    @include icon_youtube();
}

.actionLink_map:after {
    @include icon_map();
    font-size: 16px;
}

// alternate color mixin for hover state
.mix-actionLink_blue:hover,
.mix-actionLink_blue:focus, {
    background-color: $BLUE;
}

// icon sizing
.mix-actionLink_lrg {
    height: 32px;
    width: 32px;

    &:after {
        font-size: 26px;
    }
}
