/* ---------------------------------------------------------------------
actionLink
------------------------------------------------------------------------ */

.actionLink {
    display: inline-block;
    text-indent: -999em;
    font-size: 0;
    overflow: hidden;
    height: 22px;
    width: 22px;
    background-color: $GREY_MEDIUM;
    border-radius: 50%;
    vertical-align: middle;
    transition: background-color .25s ease-in-out;
    
    &:after {
        display: inline-block;
        vertical-align: middle;
        font-family: $FONT_ICON;
        text-indent: 0;
        font-size: 18px;
        color: $WHITE;
    }

    &:hover, &:focus {
        background-color: $RED;
    }
}

.actionLink_twitter:after {
    @include icon_twitter_icon();
}

.actionLink_facebook:after {
    @include icon_facebook_icon();
}

.actionLink_map:after {
    @include icon_map_icon();
    font-size: 16px;
}

// alternate color mixin for hover state
.mix-actionLink_blue:hover,
.mix-actionLink_blue:focus, {
    background-color: $BLUE;
}
