/* ---------------------------------------------------------------------
actionLink
------------------------------------------------------------------------ */

.actionLink {
    display: inline-block;
    text-indent: -999em;
    font-size: 0;
    overflow: hidden;
    height: 25px;
    width: 25px;
    padding: 0;
    background-color: $GREY_MEDIUM;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    transition: background-color .25s ease-in-out;
    -webkit-font-smoothing: antialiased;

    &:after {
        display: inline-block;
        vertical-align: middle;
        font-family: $FONT_ICON;
        text-indent: 0;
        font-size: 18px;
        line-height: 1;
        color: $WHITE;
    }

    &:hover, &:focus {
        background-color: $RED;
    }
}

.actionLink_twitter:after {
    @include icon_twitter();
    font-size: 23px;
}

.actionLink_facebook:after {
    @include icon_facebook();
    font-size: 23px;
}

.actionLink_youtube:after {
    @include icon_youtube();
}

.actionLink_googleplus:after {
    @include icon_googleplus();
}

.actionLink_map:after {
    @include icon_map();
    font-size: 16px;
    line-height: 1.5;
}

// alternate color mixin for hover state
.mix-actionLink_blue:hover,
.mix-actionLink_blue:focus, {
    background-color: $BLUE;
}

.mix-actionLink_twitter {
    background-color: $RED;

    &:hover,
    &:focus {
        background-color: lighten($RED, 10);
    }
}

.mix-actionLink_facebook {
    background-color: $BLUE;

    &:hover,
    &:focus {
        background-color: lighten($BLUE, 10);
    }
}

// icon sizing
.mix-actionLink_lrg {
    height: 32px;
    width: 32px;

    &:after {
        font-size: 26px;
        line-height: 1.3;
    }
}
