/* ---------------------------------------------------------------------
bio
------------------------------------------------------------------------ */

.bio-img {
    float: left;
    margin: 0 15px 0 0;

    & img {
        border: 2px solid $GREY_DARK;
    }
}

.bio-img-social {
    margin-top: 10px;
}

.bio-bd {
    overflow: hidden;
}