@import 'scss/helpers/_globalVars';
@import 'scss/helpers/_mixins';

.searchForm {
    display: inline-block;
    position: relative; // provides positioning context for absolutely positioned submit button
    width: 100%;
    margin-bottom: 10px;
    transition: all 0.75s ease-in-out;
}

.searchForm__input {
    background: $WHITE;
    border-radius: 11px;
    border: 1px solid $GREY_MEDIUM;
    display: block;
    font-family: $FONT_HEADLINE;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 18px 55px 18px 18px; // extra right padding makes room for absolutely positioned button
    width: 100%;
}

.searchForm__submit {
    @include BUTTON_RESET;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 51px;
    overflow: hidden;
    text-indent: -999em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
        svg {
            fill: $GREY_DARK;
        }
    }
}

.searchForm__text {
    @include VISUALLY_HIDDEN;
}

.searchForm__icon {
    display: block;
    width: 28px;
    margin: 0;

    svg {
        fill: $GREY_LIGHT;
    }
}

.searchForm--hasSearchVal {
    margin: 0;

    .searchForm__input {
        border-radius: 0;
        text-align: center;
        padding-top: 34px;
        padding-bottom: 34px;
    }
}

@media screen and (max-width: 768px) {
    .searchForm__input {
        font-size: $FONT_SIZE_DEFAULT;
    }
}
