/* ---------------------------------------------------------------------
Blocks
------------------------------------------------------------------------ */

$MEASUREMENTS_BLOCKS_GUTTER: 20px;

// Argument: number of blocks, desired gutter width (%)
@mixin blocksWidth($NUMBER_OF_BLOCKS) {
    width: (100% / $NUMBER_OF_BLOCKS);
}


.blocks {
    margin-left: -$MEASUREMENTS_BLOCKS_GUTTER;
    font-size: 0; // removes white space between children
}

.blocks > * {
    display: inline-block;
    padding-left: $MEASUREMENTS_BLOCKS_GUTTER;
    @include blocksWidth(1);
    vertical-align: top;
    font-size: 1rem; // resets the default font treatment
}

.blocks_2up > * { @include blocksWidth(2); }
.blocks_3up > * { @include blocksWidth(3); }
.blocks_4up > * { @include blocksWidth(4); }


/* Blocks Vertical rhythm - adds top margin to any blocks that wrap to a second row */

.blocks_2up > *:nth-child(n+3),
.blocks_3up > *:nth-child(n+4),
.blocks_4up > *:nth-child(n+5) {
    margin-top: $MEASUREMENTS_BLOCKS_GUTTER;
}
