.footer {
	background: $GREY_DARK url('../images/fucking-eagle.png') bottom center no-repeat;
	padding: 80px 0;
}

.privacy-info {
	max-width: 650px;
	margin: 32px auto 0;
}

.team {
	margin-bottom: 50px;
}
