/* ---------------------------------------------------------------------
icon Button
------------------------------------------------------------------------ */

.iconBtn {
    padding: 10px;
    background: none;
    border: 0;
    cursor: pointer;
}
.iconBtn-txt {
    display: inline-block;
    text-indent: -999em;
    overflow: hidden;
    text-align: left;
}