{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<script src="{% static "js/modernizr-2.6.2.min.js" %}"></script>
<!--[if lt IE 9]> <script type="text/javascript" src="{% static "js/respond.min.js"%}"></script>  <![endif]-->
</head>
<body>
<div class="wrap">
<div class="page">
		<header>
				<h1><a href="/"><span class="where">Where's My</span><strong class="fucking">Fucking</strong><span class="poll">Polling Place</span></a></h1>
		</header>
		<section class="main wrap"> {% block content %}
				
				{% endblock %} </section>
</div>
<!-- end of #container -->

<footer class="footer wrap clearfix">
		<menu class="social clearfix">
				<span class='st_twitter_vcount' displayText='Tweet'></span>
<span class='st_facebook_vcount' displayText='Facebook'></span>
				
		</menu>
</footer>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.8.2.min.js" %}"><\/script>')</script> 
<script src="{% static "js/script.js" %}"></script> 
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "7164e7d4-1924-48ab-b416-f6222f0ad063"});</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19447677-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
